@import "variables.scss";

.container > h1 {
  margin-top: 100px;
}

.courses-container {
  display: grid;
  grid-gap: 5px;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 0 40px 0;
  /* course title */
  h2 {
    font-size: 12px;
    color: $item_text;
  }
}

.course-box {
  padding: 20px;
  margin: 0 0 20px 0;
  font-size: 12px;
  max-width: 260px;

  h2 {
    height: 22px;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 200px;
  }
  .course-wrapper {
    max-width: 190px;
    margin: auto;
    padding: 0 5px;
  }
  .course-date {
    float: left;
    margin-top: 4px;
  }
  .course-links {
    float: right;
    padding: 0 2px;
  }
}

@media (max-width: 1200px) {
  .courses-container {
    .course-box {
      padding: 20px;
      img {
        max-width: 170px;
      }
    }
    h2 {
      font-size: 12px;
    }
  }
}

@media (max-width: 1000px) {
  .courses-container {
    grid-template-columns: 1fr 1fr 1fr;
    .course-box {
      padding: 15px;
    }
  }
}

@media (max-width: 800px) {
  .courses-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  #pagination {
    display: inline;
  }
  .container > h1 {
    margin-top: 135px;
  }
}

@media (max-width: 600px) {
  .courses-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .container {
    .course-box {
      padding: 10px !important;
    }
  }
  .container > h1 {
    margin-top: 100px;
  }
}
