@import "./../variables.scss";

#search-container {
  float: right;
  margin: -50px 0 0 0;
  padding: 0px;
  width: 300px;
  text-align: center;
  display: none;

  label {
    display: inline-block;
  }

  #searchCount {
    font-size: 12px;
    text-align: right;
    margin-right: 0px;
    display: inline-block;
    width: 85px;
  }

  /* search textbox */
  #searchSite {
    width: 150px;
  }

  /* remove IE “clear field or cross” X button from inputs field */
  ::-ms-clear {
    display: none;
  }

  /* search button */
  .searchBtn {
    padding: 2px;
    font-size: 12px;
    margin-left: 0px;
  }

  .searchBtn:hover {
    color: #fff;
    box-shadow: 0 0 #fff;
    background-color: $main_color;
  }
} // #search-container

@media (max-width: 700px) {
  #search-container {
    float: none;
    width: 100%;
    padding-bottom: 2px;
  }
}

@media (max-width: 500px) {
  #search-container {
    #searchSite {
      width: 105px;
    }
    #searchBtn {
      margin-left: 5px;
    }
    #searchCount {
      width: 80px;
    }
  }
}

@media (max-width: 350px) {
  #search-container {
    #searchSite {
      width: 95px;
      font-size: 12px;
    }

    #searchCount {
      width: 75px;
    }
  }
}

/* remove IE “clear field or cross” X button from inputs field */
::-ms-clear {
  display: none;
}
