$main_color: #346adf;
$main_color_light: lighten(#7399ea, 25%);
$main_color_lighter: lighten(#7399ea, 30%);
$off_white: #f8f9fa;

$item_text: rgba(0, 0, 0, 0.7);
$item_bg_main: rgb(231, 228, 228);
$item_bg_color: rgb(248, 244, 244);
$item_bg_border: rgb(209, 208, 208);
